// Images
$img-logo: url('../img/symbol_modern.svg')

//
// Color definitions
//

// Generic
$color-transparent:             rgba(0, 0, 0, 0)
$color-dark-gray:               rgba(90, 90, 90, 1.0)

// Foreground
$color-fg-page:                 hsla(180, 100%, 97%, 1)
$color-fg-banner-offline:       hsla(0, 0%, 95%, 1)
$color-fg-btn-settings:         hsla(180, 50%, 95%, 1)
$color-fg-trend-up:             hsla(150, 50%, 61%, 1)
$color-fg-trend-down:           hsla(50, 65%, 61%, 1)
$color-fg-price-dollar-sign:    hsla(55, 55%, 70%, 1)
$color-fg-button:               hsla(0, 5%, 30%, 1)

// Background
$color-bg-page:                 hsla(275, 3%, 50%, 1)
$color-bg-logo:                 hsla(320, 50%, 80%, 1)
$color-bg-banner-offline:       hsla(0, 40%, 50%, 1)
$color-bg-button:               hsla(0, 5%, 95%, 1)
$color-bg-page-container:       hsla(0, 0%, 100%, .15)

// Borders
$color-logo-border:             hsla(25, 25%, 55%, 1)
$color-banner-offline-border:   hsla(0, 0, 95%, .8)

// Plot Mapping Colors
$plot-bg-legend:                hsla(0, 0%, 0%, .4)
$plot-fg-legend:                hsla(275, 75%, 95%, 1)
$plot-trace-price-outline:      hsla(345, 25%, 70%, 1)
$plot-trace-price-fill:         hsla(345, 100%, 85%, .15)
$plot-trace-marketcap-outline:  hsla(30, 40%, 70%, 1)
$plot-trace-marketcap-fill:     hsla(30, 100%, 85%, .15)

// Plot Mapping Implementation
.plot-color-map
  [map="legend"]
    color: $plot-fg-legend
    background-color: $plot-bg-legend
  [map="trace-price"]
    color: $plot-trace-price-outline
    background-color: $plot-trace-price-fill
  [map="trace-marketcap"]
    color: $plot-trace-marketcap-outline
    background-color: $plot-trace-marketcap-fill

//
// Mixins
//

=landscape
  @media screen and (min-width: 600px) and (orientation: landscape)
    @content

=portrait
  @media screen and (orientation: portrait)
    @content

//
// Color implementations
//

@keyframes animate-background
    0%
      background-position: 0% 50%
    50%
      background-position: 100% 50%
    100%
      background-position: 0% 50%

*
  -webkit-tap-highlight-color: $color-transparent

a
  color: $color-fg-page

body
  color: $color-fg-page
  background-color: hsla(275, 3%, 35%, 1)
  // background: linear-gradient(90deg, hsla(320, 10%, 30%, 1), hsla(320, 15%, 25%, 1), hsla(290, 15%, 30%, 1), hsla(275, 15%, 25%, 1), hsla(275, 10%, 30%, 1))
  // background-size: 400% 400%
  // animation: animate-background 20s linear infinite

[view=start]
  background-color: hsla(320, 10%, 35%, 1)

[view=main], [view=hashwhale]
  // background: linear-gradient(100deg, hsla(275, 3%, 35%, 1), hsla(325, 6%, 35%, 1), hsla(35, 4.5%, 35%, 1))
  // background-size: 400% 400%
  // animation: animate-background 20s ease-in-out infinite
  background-color: hsla(275, 3%, 35%, 1)

[view=hashwhale] .landscape-wrapper-top
  h1
    margin: 0 auto
    text-align: center
    padding-top: 4.5rem
  span
    text-align: right
    padding-bottom: .5rem

.logo-container
  +portrait
    background-color: $color-bg-logo
    border-color: $color-logo-border
  .logo
    background-image: $img-logo
    // mix-blend-mode: soft-light
    mix-blend-mode: overlay
    +landscape
      opacity: .5
      filter: invert(100%)

.price
  color: $color-fg-page
  .value::before
    color: $color-fg-price-dollar-sign
  .change
    &.trend--up .bottom
      color: $color-fg-trend-up
    &.trend--down .bottom
      color: $color-fg-trend-down

.banner-offline
  color: $color-fg-banner-offline
  background-color: $color-bg-banner-offline
  border-bottom-color: $color-banner-offline-border

.page-container
  background-color: $color-bg-page-container

.btn-top-right
  color: $color-fg-btn-settings

input[type=button]
  color: $color-fg-button
  background-color: $color-bg-button
  font-size: 1.25rem !important
