// Images
$img-logo: url('../img/symbol.svg')

//
// Color definitions
//

// Generic
$color-transparent:             rgba(0, 0, 0, 0)
$color-dark-gray:               rgba(90, 90, 90, 1.0)

// Foreground
$color-fg-page: hsl(0, 0, 30%)
$color-fg-banner-offline: hsl(0, 0%, 95%)
$color-fg-btn-settings: lighten($color-dark-gray, 25%)
$color-fg-trend-up: hsla(116, 29%, 58%, 1)
$color-fg-trend-down: hsla(0, 45%, 58%, 1)
$color-fg-price-dollar-sign: hsl(53, 50%, 70%)

// Background
$color-bg-page: white
$color-bg-banner-offline: hsl(0, 50%, 50%)

// Borders
$color-logo-border:             lighten($color-dark-gray, 5%)

// Plot Mapping Colors
$plot-bg-legend:                hsla(0, 0%, 100%, .6)
$plot-fg-legend:                hsla(320, 5%, 40%, 1)
$plot-trace-price-outline:      hsla(350, 45%, 65%, 1)
$plot-trace-price-fill:         hsla(350, 80%, 95%, .5)
$plot-trace-marketcap-outline:  hsla(270, 40%, 70%, 1)
$plot-trace-marketcap-fill:     hsla(270, 75%, 97%, .5)

// Plot Mapping Implementation
.plot-color-map
  [map="legend"]
    color: $plot-fg-legend
    background-color: $plot-bg-legend
  [map="trace-price"]
    color: $plot-trace-price-outline
    background-color: $plot-trace-price-fill
  [map="trace-marketcap"]
    color: $plot-trace-marketcap-outline
    background-color: $plot-trace-marketcap-fill

//
// Mixins
//

=card
  box-shadow: 0 0 35px rgba(50, 50, 75, .1), 0 5px 15px rgba(0, 0, 0, .05)

=landscape
  @media screen and (min-width: 600px) and (orientation: landscape)
    @content

=portrait
  @media screen and (orientation: portrait)
    @content

//
// Color implementations
//

*
  -webkit-tap-highlight-color: $color-transparent

body
  color: $color-fg-page
  background-color: $color-bg-page

.logo-container
  +portrait
    +card
    border-color: $color-logo-border
  .logo
    background-image: $img-logo

.price
  color: $color-fg-page
  .value::before
    color: $color-fg-price-dollar-sign
  .change
    &.trend--up .bottom
      color: $color-fg-trend-up
    &.trend--down .bottom
      color: $color-fg-trend-down

.banner-offline
  color: $color-fg-banner-offline
  background-color: $color-bg-banner-offline
  border-bottom-color: $color-bg-page

.btn-settings
  color: $color-fg-btn-settings
